.class_title {
    /* border: 2.5px solid rgba(0,0,0,0.3);
    padding: 10px 0px;
    margin: 0px;
    font-size: 25px; */
    padding: 10px;
    border-left: 5px solid #2196f3;
    background-color: #e3f2fd;
}

.class_form{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.class_form label{
    padding: 10px 0px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.major input {
    margin-left: 5px;
}

.result_col div{
    padding: 10px 0px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
