@import "reset.css";
@import "class.css";

#title{
    text-align: center;
    margin: 20px 0px;
    padding: 30px 0px;
    font-size: 40px;
    border-radius: 5em; padding: 0.5em; background: #6aafe6;
    color:aliceblue;
    font-family: "paybooc-Light", sans-serif;
}

#year {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#year label {
    margin-right: 5px;
}

.button {
    border: none;
    padding: 15px 100px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    background-color: #6aafe6;
    color: white;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}